body 
          {
                    background-color: #1a1a1a;
          }

h1 
          {
                    text-align: center;
                    color: rgb(233, 150, 6);
                    font-family: "Monospace", Lucida Console;
          }

h2 
          {
                    text-align:center;
                    color: rgb(233, 191, 6);
                    font-family: "Monospace", Monaco;
          }

h3 
          {
                    text-align:center;
                    color: rgb(255, 255, 255);
                    font-family: "Monospace", Monaco;
          }

h4 
          {
                    text-align:left;
                    color: rgb(255, 255, 255);
                    font-family: "Monospace" Courier New;
          }

.rounded-box                 
          {
                    background-color: #333;
                    padding: 20px;
                    border-radius:20px;
           }

.body-text          
          {
                    color:rgb(255, 255, 255);
                    font-size: 30px;
                    font-family: "Monospace" Courier New;
          }

.footer-text
          {
                    font-family: "Monospace" Courier New;        
          }                    
          

.link-format 
          {
                    color: #fff;
                    text-decoration: none;
          }

hr {
   width: 500px;
   border: 1px solid #ccc;
 }

nav 
          {
                    background-color: #333;
                    padding: 10px;
          }
 
nav ul          
          {
                    list-style: none;
                    display: flex;
          }
 
nav li 
          {
                    margin-right: 20px;
           }
 
nav a          
          {
                    color: #fff; /* Make the links white */
                    text-decoration: none; /* Remove the underline */
          }
 
nav a:hover 
          {
                    color: #ccc;
          }
